.wrapper {
  display: inline-flex;
  padding: 2px 6px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.S {
  composes: typo-caption-1-strong from global;
}

.M {
  composes: typo-subheadline-strong from global;
}

.icon {
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
}

.S .icon {
  width: 14px;
  height: 14px;
}

.M .icon {
  width: 16px;
  height: 16px;
}
