.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}

.wrapperCircle {
  border-radius: 50px;
}

.wrapper:hover {
  background: var(--Neutral-Colors-Overlay-Hover);
}

.wrapper:active {
  background: var(--Neutral-Colors-Overlay-Pressed);
}

.input {
  cursor: pointer;
  border: none;
  background: transparent;
}

.input::before {
  content: "";
  display: inline-block;
  border-radius: 0;
  border: 0;
  background: #ffffff;
}

.md {
  width: 24px;
  height: 24px;
}

.sm {
  width: 20px;
  height: 20px;
}

.sm::before {
  content: "";
  display: inline-block;
  border-radius: 0;
  border: 0;
  background: #ffffff;
}

.label {
  cursor: pointer;
  margin-left: 8px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 1.5px solid var(--Neutral-Colors-Stroke-Active, #d0d0d0);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmarkChecked {
  border: 2px solid var(--Neutral-Colors-Stroke-Selected, #3d3d3d);
  background-color: var(--Neutral-Colors-Background-Selectable1, #3d3d3d);
}

.wrapperDisabled {
  color: var(--Neutral-Colors-Foreground-Disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.inputDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.labelDisabled {
  color: var(--Neutral-Colors-Foreground-Disabled) !important;
}
